<form>
    <nav class="tabs" data-group="primary-tabs">
        {{#each tabs as | tab |}}
            <a class="item" data-tab="{{tab.id}}">{{localize tab.title}}</a>
        {{/each}}
    </nav>

    <section class="content">
        {{#each tabs as | tab |}}
            <div class="tab" data-tab="{{tab.id}}" data-group="primary-tabs">
                {{> (lookup . 'template') ../this}}
            </div>
        {{/each}}
    </section>
</form>
