.sas-config {
    padding: 0;
    margin-top: 0;
    gap: 1em;
}

.sas-config > li {
    align-items: center;
    gap: 0.5em;
}

.sas-config-icon-button {
    background: transparent;
    padding: 0;
    line-height: normal;
    border: 0;
    align-self: center;
}

.sas-config-icon-button > i {
    margin-right: 0;
}

.sas-config-icon-button:hover, .sas-config-icon-button:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
}

.sas-config-header {
    padding-bottom: 10px;
}

.sas-menu {
    padding: 0;
    margin-top: 0;
    gap: 1em;
}

.sas-menu-table-data {
    text-align: center;
}

.sas-menu-mini-table {
    width: 90%;
    margin-left: 6%;
}

.sas-menu-mini-table-left-column {
    width: 25%;
    font-weight: bold;
    border-right: 1px solid var(--color-border-light-tertiary);
}

.sas-menu-mini-table-header {
    border-bottom: 1px solid var(--color-border-light-tertiary);
}

.sas-menu-button {
    margin-top: 10px;
}

.sas-menu-content {
    margin-top: 10px;
}

.sas-menu-results {
    margin-top: 10px;
    border-top: 2px solid var(--color-underline-header);
    border-bottom: 2px solid var(--color-underline-header);
}

.sas-menu-results > h2 {
    text-align: center;
}

.sas-menu-results-gather-info {
    text-align: center;
}

.sas-menu-results-gather-info-success {
    font-weight: bold;
    color: var(--color-level-success);
}

.sas-menu-results-gather-info-failure {
    font-weight: bold;
    color: var(--color-level-error);
}

.sas-menu-results-buy-sell {
    text-align: center;
}

.sas-menu-results-buy-sell-price {
    font-weight: bold;
    font-size: medium;
}
