.sas-config {
    padding: 0;
    margin-top: 0;
    gap: 1em;
}

.sas-config > li {
    align-items: center;
    gap: 0.5em;
}

.sas-config-icon-button {
    background: transparent;
    padding: 0;
    line-height: normal;
    border: 0;
    align-self: center;
}

.sas-config-icon-button > i {
    margin-right: 0;
}

.sas-config-icon-button:hover, .sas-config-icon-button:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
}

.sas-config-header {
    padding-bottom: 10px;
}

.sas-menu {
    padding: 0;
    margin-top: 0;
    gap: 1em;
}

.sas-menu-mini-table {
    width: 90%;
    margin-left: 6%;
}

.sas-menu-table-data {
    text-align: center;
}

.sas-menu-table-left-column {
    width: 25%;
    font-weight: bold;
    border-right: 1px solid var(--color-border-light-tertiary);
}

.sas-menu-table-header {
    border-bottom: 1px solid var(--color-border-light-tertiary);
}

.sas-menu-placeholder {
    border-right: 1px solid #23221d;
    border-left: 1px solid #191813;
    border-top: 1px solid #4b4a44
}
