.sas-config {
    padding: 0;
    margin-top: 0;
    gap: 1em;
}

.sas-config > li {
    align-items: center;
    gap: 0.5em;
}

.sas-config-icon-button {
    background: transparent;
    padding: 0;
    line-height: normal;
    border: 0;
    align-self: center;
}

.sas-config-icon-button > i {
    margin-right: 0;
}

.sas-config-icon-button:hover, .sas-config-icon-button:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
}

.sas-config-header {
    padding-bottom: 10px;
}

.sas-menu {
    padding: 0;
    margin-top: 0;
    gap: 1em;
}

.sas-menu-overview-table-data {
    text-align: center;
}
